body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


header {
	text-align: center;
}

header h1 a {
	font-family: 'Baloo Bhaina', cursive;
	color: white;
	text-decoration: none;
}

footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	font-family: 'Arimo';

}

h3{
	font-family: 'Signika Negative', sans-serif;
}

#create_account-wrapper {
	font-family: 'Signika Negative', sans-serif;
	border: 8px inset white;
	border-radius: 10px;
	height: auto;
	margin: auto;
	padding: 10px;
	width: 220px;
	text-align: center;
}


input {
	font-family: 'Scada', sans-serif;
	border-radius: 5px;
	text-align: center;
}

button {
	font-family: 'Scada', sans-serif;
	border-radius: 5px;
	background-color: white;

}

.links-wrapper{
	font-family: 'Scada', sans-serif;
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: center;
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}